.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  width: 100vw;
  padding-left: 2vh;
  padding-right: 2vh;
  /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); */
  background: black;
}
.side-component {
  width:  25vw;
  padding: 5vh;
}

.graph-container {
  width:  50vw;
}
